html {
    font-family: SF Pro SC, PingFangSC-Regular, Helvetica, Droid Sans, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    user-select: none;
}

body,
h2,
h3,
h4,
h5,
html,
img,
input,
input,
li,
p,
small,
ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

input,
button,
textarea {
    outline: 0 none;
    border: 0;
}
